body {
    font-family: Arial, sans-serif;
}

#app {
    width: 300px;
    margin: 0px auto;
}

#app h3 {
    font-size: 1.1em;
    margin-bottom: 0px;
    padding: 0.3em;
    background: green;
    color: white;
    text-align: center;
}

#app table {
    border-collapse: collapse;
    width: 100%;
}

#app table td:last-child {
    text-align: right;
}

#app table td {
    font-size: 1em;
    padding: 0.5em;
}

#app table tr:nth-child(even){
    background-color: #DCDCDC;
}

#app table tr:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}